# Ignore big database
data/IR_FarsiDatabase.txt

# Ignore generated data
data/processed

# Intellij idea files
.idea

# Java compiled files
*.class
out/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
# *.war
# *.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
